=content_tag "h#{revel}", id: "head_#{card.id}" do
  =link_to_if @card != card,  card.content, card_path(card)

- if revel == 1 && card.has_grandchild? && card.children.count > 1
  .page_menu
    %ul
      - @card.children.each do |card|
        %li=link_to card.content, "#head_#{card.id}"

- if card.has_grandchild?
  -card.children.each do |child|
    = render partial: 'children', locals: {card: child, revel: revel+1}
- else
  %ul
    -card.children.each do |child|
      %li=link_to child.content, card_path(child)

