%h1 DocumentCard（ドキュメントカード）
ドキュメントカードは頭の中をカード形式で書き出せば、それらが独自のアルゴリズムで構造化されていくという夢のようなツールです

%ul
  - @cards.each do |card|
    %li
      = image_tag card.user.icon_url, style: 'width: 25px;'
      = link_to card.content, card_path(card)
